tinker-parse/src/main/java/META-INF/tinker.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<xsd:schema   
    xmlns="http://www.alibaba-inc.com/schema/tinker"  
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"   
    xmlns:beans="http://www.springframework.org/schema/beans"  
    targetNamespace="http://www.alibaba-inc.com/schema/tinker"  
    elementFormDefault="qualified"   
    attributeFormDefault="unqualified">  
    <xsd:import namespace="http://www.springframework.org/schema/beans" />   
    
    <xsd:element name="application"> 
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="name" type="xsd:string" />   
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="protocol"> 
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="name" type="xsd:string" /> 
					<xsd:attribute name="port" type="xsd:int" />  
					<xsd:attribute name="timeout" type="xsd:int" />   
					<xsd:attribute name="threadPoolCoreSize" type="xsd:int" />   
					<xsd:attribute name="threadPoolMaxiumSize" type="xsd:int" /> 
					<xsd:attribute name="serializableType" type="xsd:string" />     
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>  
	
	<xsd:element name="service"> 
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="name" type="xsd:string" /> 
					<xsd:attribute name="version" type="xsd:string" /> 
					<xsd:attribute name="ref" type="xsd:string" />     
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element> 
</xsd:schema> 










